.categories-container {
	margin-top:  50px;
}

.js .course-logo {
	width: 125px;
}

.android .course-logo {
	width: 250px;
}

.scratch .course-logo {
	width: 150px;
}

.category {
	margin-bottom: 50px;
}

.full-listing .header {
	margin-bottom: 20px;
	color: #C84F4F;
}

.level-header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.category-name {
	color: #C84F4F;
}

.contact {
	margin-bottom: 30px;	
}

.cost-header {
	color: #C84F4F;
}