.intro {	
  	color: white;  	
}

.centered-container {
	position: relative;
	top: 25%;
  	transform: translateY(-25%);	
}

.intro-container {
	background: black;  
  	padding: 50px 20px 50px 20px;
  	margin-bottom: 60px;
  	margin-top: 60px;
}

.intro-line-1 {	
	font-weight: 900;	
	font-size: 50px;
}

.console-button {
	color: limegreen;
	margin-top: 40px;
	font-family: FreeMono, monospace;    	
}

.console {
	color: limegreen;
	text-align: left;
	/*display: none;*/
	font-size: 18px	
}

.console-container {
	font-family: FreeMono, monospace;    	
}

.class-intro {
	margin-bottom: 10px;
}

.component-img {
	height: 150px;
	margin-bottom: 30px;
}

.component-results {
	color: black;
	/*background: #AA72B0;*/
	/*padding: 20px 0 20px 0;*/
}

.component-header {
	margin-bottom: 20px;
	font-weight: 900;
	text-decoration: underline;
}

.explanation-question {
	font-weight: bold;
	margin-bottom: 20px;
	/*margin-top: 40px;*/
}

.free-wrapper {
	background: #6ec173;
	color: white;
	margin: 0 0 0 0;
}

.example-overlay {
	position: absolute;
	top: 0;
	z-index: 1000;
	opacity: .9;
	width: 100%;
	height: 100%;
	background: grey;
	color: white;
	text-align: center;
	font-size: 24px;
}

.no-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translatex(-50%);
	z-index: 5000;
	display: none;
}
