.terminal-wrapper .display {
  overflow: hidden;
}

.terminal-wrapper .command-input {
  outline: none;
}

.terminal-wrapper .prompt {
  margin-right: 5px;
}

.terminal-wrapper .task-display {
  margin-bottom: 5px; 
  border-bottom: 2px solid rgba(86, 86, 86, .8);
}

.terminal-wrapper .help-display {
  margin-bottom: 5px; 
  border-bottom: 2px solid rgba(86, 86, 86, .8);
}

.task-wrapper, .help-wrapper, .command-history-wrapper, .input-wrapper {
  display: flex;
}

.terminal-wrapper .display {
  width: 80%;
}

.terminal-wrapper .display-label {
  width: 10%;  
  color: aqua; 
}

.terminal-wrapper .greeting {
  width: 80%;
  margin-left: 10%;
}

.terminal-wrapper .output-line {
  margin-bottom: 5px;
}

/*.console-cursor {
    -webkit-animation: blink-button 1s infinite;
       -moz-animation: blink-button 1s infinite; 
        -ms-animation: blink-button 1s infinite;
            animation: blink-button 1s infinite;
}*/

@keyframes blink-button {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb; /* not #aaa because it's seem there is Google Chrome bug */
        color: #000;
  }
}
@-webkit-keyframes blink-button {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: #000;
  }
}
@-ms-keyframes blink-button {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: #000;
  }
}
@-moz-keyframes blink-button {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: #000;
  }
}